<script lang="ts">
	import Editor from "./Editor.svelte";
	import LibraryViewer from "./LibraryViewer.svelte";
	import type { Program } from "./types";
	import { expanded_program } from "./library_refactoring";

	let editor_lines: string[] = ["put tomato in board", "chop tomato"];
	let editor_name: string = "slice tomato"
	let programs: Program[] = [];
	let normalized_editor_lines: string[] = [];


	/**
	 * Returns a slightly sanitized version of the string.
	 */
	 function sanitized_string(line: string): string {
		return line.trim().toLowerCase();
	 }

	/**
	 * Reactive list of normalized editor lines.
	 */
	$: {
		let lines = [];
		for(const line of editor_lines) {
			let clean_line = sanitized_string(line);
			if(clean_line.length > 0)
				lines.push(clean_line);
		}
		normalized_editor_lines = lines;
	}

	/**
	 * Refactors the given program library.
	 */
	 function refactor_library(library: Program[]): Program[] {
		let new_library: Program[] = [];

		// Expand each program
		for(const program of library) {
			new_library.push(expanded_program(program, library));
		}

		// TODO: other refactoring schemes (e.g. compression).
		return new_library;
	 }

	/**
	 * Called when the user clicks on "Add" in the editor.
	 */
	function on_program_add() {
		let program = {
			name: sanitized_string(editor_name),
			lines: normalized_editor_lines,
		};
		programs = refactor_library([...programs, program]);
		editor_lines = [];
		editor_name = "";
	}
</script>

<main>
	<div class="container">
		<div class="item">
			<div class="column-container">
				<p><b>Program editor</b></p>
				<Editor
					bind:lines={editor_lines}
					bind:name={editor_name}
				/>
				<button
					disabled={editor_name.length == 0 || normalized_editor_lines.length == 0}
					on:click={on_program_add}
				>Add</button>
			</div>
		</div>
		<div class="item">
			<div class="column-container">
				<p><b>Program browser</b></p>
				<LibraryViewer programs={programs}/>
			</div>
		</div>
	</div>
</main>

<style>
	.container {
		display: flex;
		flex-flow: row;
		height: 100%;
	}
	.column-container {
		display: flex;
		flex-flow: column;
		height: 100%;
	}

	.item {
		flex: 50%;
		padding: 5%;
		overflow: auto;
	}

	main {
		height: 100%;
	}
</style>
