<script lang="ts">
	/**
	 * A simple editor for short natural language programs. Some of the strings in
	 * lines can be empty, and they should be interpreted as "skip"/"no-op"
	 * commands.
	 */
	export let lines: string[];
	export let name: string;

	// Add an empty line whenever the last line gets text added This new empty
	// line serves as a placeholder to add new lines.
	$: if(lines.length == 0 || lines[lines.length-1].length > 0) {
		lines.push("");
	}

	/**
	 * Called when a line loses focus.
	 */
	function handle_line_blur(i: int) {
		// If the next-to-last line lost focus and it is empty, delete it.
		//
		// Only that line is deleted because:
		// - The last line does not get deleted because it serves as a placeholder
		// to add new lines.
		// - Other lines don't get deleted because it can be confusing and annoying
		// to have lines disappearing as soon as they are empty.
		if(i > 0 && i == lines.length - 2 && lines[lines.length-1].length == 0)
			lines.pop();
		lines = lines;
	}
</script>

<div>
	<input
		class="name"
		type="text"
		size={name.length.toString() == 0 ? "name".length : name.length.toString()}
		bind:value={name}
		placeholder="name..."
	>:
</div>

<div class="container">
	{#each lines as line, i}
		<div class="item">
			<div class="line-number">
				{i}
			</div>
			<input
				on:blur={()=>{handle_line_blur(i)}}
				type="text"
				bind:value={lines[i]}
				placeholder={i == lines.length-1 ? "add command..." : "skip"}
			>
		</div>
	{/each}
</div>

<style>
	.item {
		display: flex;
		flex-flow: row;
		margin-top: 0.5em;
	}

	.item .line-number {
		flex: auto;
		background: #474747;
		color: lightgray;
		display: inline;
		text-align: center;
		vertical-align: middle;
	}

	.item input {
		flex: auto;
		margin: auto;
		width: 90%;
	}

	input {
		width: 90%;
	}

	.container {
		height: 90%;
		overflow: auto;
	}

	.name {
		margin: 0em;
	}
</style>
