<script lang="ts">
	import type { Program } from "./types";
	import ProgramViewer from "./ProgramViewer.svelte";

	export let programs: Program[];
	let search_query = "";
	$: displayed_programs = programs;

	/**
	 * React to every change of the search query. This will speed-down the
	 * application for extremely long lists of programs. Since we do not expect
	 * that to be the case, we opt for this simple solution.
	 */
	$: if(search_query || true)  {
		let query = search_query.trim().toLowerCase();

		if(query.length > 0) {
			displayed_programs = [];
			for(const program of programs) {
				if(program.name.includes(query))
					displayed_programs.push(program);
			}
			displayed_programs = displayed_programs;
		} else {
			displayed_programs = programs;
		}
	}

</script>

<input
	type="search"
	bind:value={search_query}
	placeholder="search..."
>

<div class="container">
	{#each displayed_programs as program}
		{#key program}
			<ProgramViewer program={program}/>
		{/key}
	{/each}
</div>

<style>
	input {
		width: 100%;
	}
	.container {
		height: 90%;
		overflow: auto;
	}
</style>
