<script lang="ts">
	import type { Program } from "./types";
	import * as d3 from "d3";

	export let program: Program;

	function program_to_d3_data(program: (Program | string)) {
		if(typeof program === 'string')
			return {
				name: program,
				children: [],
			};

		let children = [];
		for(const line of program.lines) {
			children.push(program_to_d3_data(line));
		}
		return {
			name: program.name,
			children: children,
		};
	}

	let data = program_to_d3_data(program);

	function draw_tree(dom_node_id) {
		let i = 0;
		const nodeSize = 30;
		const root = d3.hierarchy(data).eachBefore(d=>d.index = i++);
		const nodes = root.descendants();

		let svg = d3.select(dom_node_id).append("svg")
			.attr("viewBox", [-nodeSize, -nodeSize, 400, (nodes.length + 1) * nodeSize])
			.attr("font-family", "sans-serif")
			.attr("font-size", nodeSize/2)
			.style("overflow", "scroll");

		const link = svg.append("g")
			.attr("fill", "none")
			.attr("stroke", "#999")
			.selectAll("path")
			.data(root.links())
			.join("path")
			.attr("d", d => `
				M${d.source.depth * nodeSize},${d.source.index * nodeSize}
				V${d.target.index * nodeSize}
				h${nodeSize}
			`);

		const node = svg.append("g")
			.selectAll("g")
			.data(nodes)
			.join("g")
			.attr("transform", d => `translate(0,${d.index * nodeSize})`);

		node.append("circle")
			.attr("cx", d => d.depth * nodeSize)
			.attr("r", 2.5)
			.attr("fill", d => d.children ? null : "#999");

		node.append("text")
			.attr("dy", "0.32em")
			.attr("x", d => d.depth * nodeSize + 6)
			.text(d => d.data.name);

		node.append("name")
			.text(d => d.ancestors().reverse().map(d => d.data.name).join("/"));

		return {
			destroy() {
				// the node has been removed from the DOM
			}
		};
	}
</script>

	<div class="item">
		<div id="d3div" use:draw_tree={"d3div"}></div>
	</div>

<style>
	.item {
		overflow-x: auto;
	}
</style>
